/.vs
/WetterApp/obj/
/WetterApp/bin/Debug/x64/SQLite.Interop.dll
/WetterApp/bin/Debug/x86/SQLite.Interop.dll
/WetterApp/bin/Debug/System.Data.SQLite.dll
/WetterApp/bin/Debug/System.Data.SQLite.xml
/WetterApp/bin/Debug/WetterApp.exe
/WetterApp/bin/Debug/WetterApp.pdb
/WetterApp/bin/Debug/Wetterdaten.db
